@using WebApplication1
@using WebApplication1.Localization
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResource> T

@{
    ViewData["Title"] = "Home";
}

<h1>@T["Welcome"]</h1>
<button>@T["Send"]</button>
